<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/pfp.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="/js/jquery-3.6.0.min.js"></script>
</head>
<body>
    {{> header}}
    <div class="profile-section">
         <div class="pfp-top">
            <div class="pfp-left">
                <div class="profile-pic">
                    <a href="#"><img src="/images/{{{user.profile}}}"  id="profile" alt="profile-pic"></a>
                </div>
                <div class="username">
                    <h1>{{user.username}}</h1>
                </div>
            </div>
            <div class="pfp-right">
                <div class="info">
                    <span class="dates">Birthday: {{formatDate user.birthday}}</span> 
                    <span class="dates">Joined: {{formatDate user.dateCreated}}</span>
                </div>
                {{#if (eq user._id curUser._id)}}
                <div class="set-pfp">
                    <a href="/user/{{curUser._id}}/edit">
                        <svg class="icons" id="gear-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" width="30" height="30" color="#00703C">
                            <defs>
                                <style>.cls-6374f8d9b67f094e4896c636-1{fill:white;stroke:currentColor;stroke-miterlimit:10;}</style>
                            </defs>
                            <path class="cls-6374f8d9b67f094e4896c636-1" d="M20.59,12a8.12,8.12,0,0,0-.15-1.57l2.09-1.2-2.87-5-2.08,1.2a8.65,8.65,0,0,0-2.72-1.56V1.5H9.14V3.91A8.65,8.65,0,0,0,6.42,5.47L4.34,4.27l-2.87,5,2.09,1.2a8.29,8.29,0,0,0,0,3.14l-2.09,1.2,2.87,5,2.08-1.2a8.65,8.65,0,0,0,2.72,1.56V22.5h5.72V20.09a8.65,8.65,0,0,0,2.72-1.56l2.08,1.2,2.87-5-2.09-1.2A8.12,8.12,0,0,0,20.59,12Z"></path>
                            <circle class="cls-6374f8d9b67f094e4896c636-1" cx="12" cy="12" r="3.82"></circle>
                        </svg>
                    </a>
                </div>
                {{/if}}
            </div>
        </div>
        <div class="pfp-bot">
            <div class="bio">
                <h3>{{{user.bio}}}
                </h3>
            </div>
        </div> 
    </div>
    <div class="user-posts-container">
        <div class="your-posts">
        <h1>Posts</h1>
        </div>
        {{#each post}}
            <div class="post">
                <div class="top">
                    <div class="user-info">
                        <a href="#"><img src="/images/pfp.jpg" id="postpfp"></a>
                        <p id="username">{{user.username}}</p>
                    </div>
                    <div class="tag">
                        <span>{{this.tag}}</span>
                    </div>                
                </div>
                <a id="my_post" href="/post/{{this.id}}">
                    <h3 id="title">{{this.title}}</h3>
                </a>
            </div>
        {{/each}}
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
